:root {
    /* Fonts-Шрифти*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway";
    /*text colors*/
    --main-txt-cl: #2E2F42;
    --light-txt-cl: #fff;
    --grey-txt-cl: #434455;
    --address-txt-cl: rgba(255, 255, 255, 0.6); 
    --footer-txt-cl: #E7E9FC;
    --form-txt-cl:#8E8F99;
    --texteria-txt-cl:#757575;
    /*bagrounds colors*/
    --main-bg-cl: #fff;
    --accent-bg-cl: #2F303A;
    --blue-bg-cl: #4D5AE5;
    --lignt-bg-cl: #F4F4FD;
    --hover-bg-cl:#404BBF;
    --hover-soc-bg:#31D0AA;
    --icon-bg-cl:#2E2F42;
    /*border*/
    --border-color: #E7E9FC;
    --border-cl-cl: #AFB1B8;
    --border-hed-cl:#E7E9FC;

    /*icon*/
    --icon-bg-cl:rgba(255, 255, 255, 0.1);

     /*owerlay*/
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-animation: backdrop 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
/* Others*/


/*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
}


.section {
 padding: 96px 0;

}

     @media screen and (min-width: 1200px) {
          .section { padding: 120px 0;}
        }


.page {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    background-color: var(--main-bg-cl);
    letter-spacing: 0.03em;
    font-size: 14px;
}

img {
    display: block;
    padding: 0;
}

.link {
    text-decoration: none;


}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-title {
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
}

span {
    color: var(--hover-bg-cl);
}

.contanier {
    max-width: 480px;
    
    margin: 0 auto;
    padding: 0 15px;


}

@media screen and (min-width:768px) {
     .contanier { max-width: 768px;
     }
    }

    @media screen and (min-width:1200px) {
      .contanier{ max-width: 1200px;
      }
         }

/* HEADER*/


.header-container {
    display: flex;
    padding: 24px 16px;
  
}
@media screen and (min-width:768px){
    .header-container {
    padding: 0 16px;
  
}
}

.header-nav {
  display: none;

}
@media screen and (min-width:768px){
    .header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;

}
}

.link-list{
     font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
     position: relative;
    transition: color var(--animation);
    padding: 24px 0;
     
}
.link.slaider::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    background:var(--hover-bg-cl);
    border-radius: 2px;

}

.link:hover,
.link:focus {
    color: var(--hover-bg-cl);
}

.link,
.link-nav,
.link-header {
    display: block;

}

.link-nav {
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: calc(24/18);
    margin-right: 93px;
    text-decoration: none;
    color: var(--main-txt-cl)
}

.link:active {
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.link-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--grey-txt-cl);
     transition: color var(--animation);
}

@media screen and (min-width:768px){
    .list-item-heder:not(:last-child) {
    margin-bottom: 4px;
}
}
.link-header:hover,
.link-header:focus {
    color: var(--hover-bg-cl);
    
}

.header-list {
    display: none;
}

@media screen and (min-width:768px){
    .header-list {
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav_contacts{
 display: block;
   padding: 21px 0;
}

}
@media screen and (min-width:1200px){
.nav_contacts{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
}
}
.contact-icon{
    fill: currentColor;
   
}

/*HERO*/

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 188px 0;
    background-color: var(--accent-bg-cl);
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../img/prise/sm-bg-@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: cover;

}
   @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          .hero {  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../img/prise/sm-bg-@2x.png);
          }
          }

           /*tablet imeges */

           @media screen and (min-width:481px){
            .hero { background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../img/prise/-lg-bg-@1x.png);}
           }
            @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          .hero {  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../img/prise/-lg-bg-@2x.png);
          }
          }

            /*desktop imeges*/
            @media screen and (min-width:769px){
                 .hero { background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../img/prise/-bg-@1x.png);}
           }
            @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          .hero {  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../img/prise/-bg-@2x.png);
          }
            }



.txt-btn {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    margin-bottom: 72px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    text-transform: capitalize;
    padding: 0 30px;
}
 @media screen and (min-width: 768px){
    .txt-btn {
    font-size: 56px;
    line-height: calc(60/56);
     margin-bottom: 48px;
     text-transform: none;
     padding: 0 100px;
    }
 }

@media screen and (min-width: 1200px){
    .txt-btn {
     padding: 0 280px;
    }
 }



.btn {
    font-family: inherit;
    font-size: 16px;
    line-height: calc(24/16);
    min-height: 50px;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--blue-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
     transition: background-color var(--animation);
     
}
@media screen and (min-width: 768px){
   .btn {  line-height: calc(30/16);
}
}

.btn:hover,
.btn:focus {
background-color: var(--hover-bg-cl);

}


/*features*/


.contanier-features{
    display: flex;
    flex-direction: column
}
.features-contanier{
    display: none;
}
@media screen and (min-width: 1200px){
  .features-contanier{  display: flex;
  }
  .team-list-features {
    display: flex;
    flex-basis: calc((100% - 3 * 24px) / 4);
    gap: 24px;
}
.features-icon {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
width: 264px;
padding-bottom: 8px;
background-color:var(--lignt-bg-cl);

}
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.features-list {
    display:block;
    
}
@media screen and (min-width: 768px){
.features-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 24px) / 4);
    gap: 24px;
    margin-bottom: 0;
}
}
@media screen and (min-width: 1200px){
.features-list {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 3 * 24px) / 4);

}
}

.features-title {
   text-align: center;
    font-size: 36px;
line-height: calc(40/36);
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
   
}

@media screen and (min-width: 1200px){
.features-title {
    text-align: start;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: calc(16/14);
    text-transform: none;
   
}

}
.features-subtitle {
    font-size: 16px;
   line-height: calc(24/16);  
    color: var(--grey-txt-cl);
}
@media screen and (min-width: 1200px){
    .features-subtitle {
        font-size: 14px;
    line-height: calc(26/14);
}
}
.features-list-item:not(:last-child) {
     margin-bottom: 72px;

}
@media screen and (min-width: 768px){
    .features-list-item:not(:last-child) {
        margin-bottom: 8px;
    }
    .features-list-item{
        width: 356px;
        height: 120px;  
    }
}

@media screen and (min-width: 1200px){
.features-list-item{
    width: 264px;
    height: 112px;
}
}
/* ASIDE*/
.section-aside {
    display: none;
}
@media screen and (min-width: 1200px){
    .section-aside{
        display: flex;
    padding-top: 0;
}
.list-aside {
    display: flex;
    gap: 30px;
}
}



/*TEAM*/
.team-section {
    background-color: var(--lignt-bg-cl);
    display:flex;
    
}



.section-title {
    margin-bottom: 72px;
}


@media screen and (min-width: 768px){
    .team-list {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
    gap: 24px;
}

}


.item-team{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.item-team:not(:last-child){
    margin-bottom: 72px;
}
     @media screen and (min-width:768px){
      .item-team:not(:last-child){
       margin-bottom: 0;
      }
      
    }
.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team-text-desk {
    font-size: 16px;
    line-height: calc(19/19);
    text-align: center;
    color: var(--grey-txt-cl);
    margin-bottom: 16px;

}


/*SOCIALS*/
.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}

.socials-link {
display: flex;
 align-items: center;
justify-content: center;
width: 40px;
height: 40px;
color: var(--light-txt-cl);
background-color:var(--blue-bg-cl);
border-radius: 50%;
 transition: color var(--animation), background-color var(--animation);
}

.socials-link:hover,
.socials-link:focus {
    color: var(--light-txt-cl);
    background-color: var(--hover-bg-cl);
 
    
}

.socials-icon{
    fill: currentColor;
}


/*Customer */

.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
   
    
}
@media screen and (min-width: 768px){
    .customers {
    gap: 24px;
}
}


.customer-item {
   box-sizing: border-box;
    position: absolute;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: var(--border-cl-cl);
    background-color: var(--main-bg-cl);
    box-sizing: border-box;
    border: 1px solid var(--border-cl-cl);
    border-radius: 4px;
     transition: border-color var(--animation), color var(--animation);



}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--blue-bg-cl);   
}

.customers-icon {
    fill: currentColor;
}


/*FOOTER*/


.footer {
    background-color: var(--accent-bg-cl);
    padding: 100px 0;
}

.footer-contanier{
display: flex;
flex-direction: column;
justify-content: start;
}
@media screen and (min-width: 768px){
    .footer-contanier { 
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      padding-left: 0;
        
        
}
}
@media screen and (min-width: 1200px){
    .footer-contanier {
        flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
   padding: 0 16px;
    }
}

.cont-footer{
   display: flex;
flex-direction: column;
justify-content: center; 
margin-bottom: 72px;
}
@media screen and (min-width: 1200px){
    .cont-footer{
align-items: flex-start;
margin-bottom: 0px;
} 
}

.footer-cont {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
    padding: 0 80px;
}
@media screen and (min-width: 768px){
.cont-social{
  display: flex;
 padding: 0;
 
}
.footer-cont{
   padding: 0;
    
}
.cont-footer{
    align-items: start;
    margin-bottom: 72px;
}
}
@media screen and (min-width: 1200px){
    .footer-cont{
        padding: 0;
       
    }
}
.link-footer{

text-align: center;
margin-bottom: 16px;
}
.footer-text{
    font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var( --footer-txt-cl);

}
.footer-list-socials{
    display: flex;
    gap: 16px;
}
.link-footer {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    color: #F4F4FD;
}

.address {
    margin-top: 20px;
}



.text-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    color: var(--light-txt-cl);
    margin-bottom: 16px;
}

 .footer-socials{
    text-align: center;
    margin-bottom: 72px;
}
@media screen and (min-width: 768px){
.footer-socials {
    margin-left: 24px;
    margin-bottom: 0px;
}
}
@media screen and (min-width: 1200px){
    .footer-socials {
    margin-left: 120px;
  
}
}
.footer-list-socials{
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1200px){
    .footer-list-socials{
    gap: 10px;
}
}
.socials-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--light-txt-cl);
    background-color: var(--icon-bg-cl);
    border-radius: 50%;
     transition: background-color var(--animation);
}

.socials-link-footer:hover,
.socials-link-footer:focus{
    background-color: var(--hover-soc-bg);
    
}
.socials-icon{
    color: var(--light-txt-cl);
}



.register-form-Footer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


@media screen and (min-width: 768px){
    .register-form-Footer{
          display: flex;
    align-items: start;
    justify-content: start;
}
}

.lebel-footer{
     display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
@media screen and (min-width: 768px){
    .lebel-footer{
        display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;


}
}
.register-Footer-title{
font-weight: 500;
font-size: 16px;
line-height:calc(24/16);
letter-spacing: 0.02em;
color:var(--light-txt-cl);
margin-bottom: 16px;

}
.input-footer{
    cursor: pointer;
width: 396px;
height: 40px;
background-color: var(--accent-bg-cl);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
margin-bottom: 16px;
}

@media screen and (min-width: 768px){
    .input-footer{
width: 264px;
height: 40px;
margin-bottom: 0;
    }
}
@media screen and (max-width: 320px){
    .input-footer{
width: 264px;
height: 40px;
    }
}
.input-footer::placeholder{
font-size: 12px;
line-height: calc(24/12);
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}

.btn-modal-footer{
font-family:inherit;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;

display: flex;
align-items: center;
justify-content: center;

cursor: pointer;
width: 169px;
min-height: 40px;
border: none;
color:var(--light-txt-cl);
background-color: var(--blue-bg-cl);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-left: 16px;
padding: 8px 0;
}

.svg-btn{
    margin-left: 10px;
    fill: currentColor;
}

/*PORTFOLIO*/


.header-portfolio {
border: 1px solid var(--border-hed-cl);
padding: 24px 16px;
}

@media screen and (min-width: 768px){
    .header-portfolio {
padding: 0 16px;
}
}




.contanier-portfolio{
    display: flex;
    flex-direction: column;
    padding: 48px 0;
}
@media screen and (min-width: 768px){
    .contanier-portfolio{
        justify-content: center;
        padding: 64px 0;
        padding-left: 16px;

    }
}

.portfolio-list-btn{
    display: flex;
     flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: calc((100% - 48px) / 3);
     gap: 24px;
     padding-right: 140px;
      margin-bottom: 48px;
      padding-left: 16px;
}

     @media screen and (min-width: 768px){
    .portfolio-list-btn{
    align-items: center;
    justify-content: center;
     gap: 8px;
    padding:0;
      
}
}
@media screen and (min-width: 1200px){
.portfolio-list-btn{
     padding: 0;
   
}
}


.btn-portfolio { 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    border: none;
    letter-spacing: 0.0em;
    padding: 8px 16px;
    background-color: var(--lignt-bg-cl);
    cursor: pointer;
    border-radius: 4px;
    color: var(--blue-bg-cl);
    transition: color var(--animation),background-color var(--animation), 
    box-shadow var(--animation);
}
@media screen and (min-width: 1200px){
    .btn-portfolio{
        line-height: calc(26/26);
        letter-spacing: 0.03em;
         padding: 12px 24px;
    }
}
@media screen and (max-width: 320px){
   .portfolio-list-btn{
         padding: 0;
         gap: 24px;
    } 
}


.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--light-txt-cl);
    background-color: var(--hover-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
@media screen and (min-width: 768px){
     .portfolio-list {
    flex-basis: calc((100% - 24px) / 2);
    gap: 24px;
    justify-content: start;
    padding-bottom: 94px;
   
    }
}
@media screen and (min-width: 1200px){
    .portfolio-list {
    flex-basis: calc((100% - 48px) / 3);

    }
}
.list-portfolio{
  flex-basis: 360px;  
}
.link-portfolio{
    color: var(--main-font);
    text-decoration: none;
    transition:color var(--animation), box-shadow var(--animation);
}
.link-portfolio:hover,
.link-portfolio:focus {
    color: var(--main-txt-cl); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

   
  

.txt-portfolio{
   border: 1px solid var(--border-color); 
   border-top: 0px;
   padding-left: 16px;
   padding: 32px 0;
}
@media screen and (min-width: 768px){
    .txt-portfolio{
   width: 356px;
    padding-left: 16px;
      padding: 32px 0;
}
}
.text-portfolio {
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}

.desc-portfolio {
    font-size: 16px;
    line-height:calc(24/16);
    color: var(--grey-txt-cl);

}

.portfolio-thumd {
    position: relative;
    overflow: hidden;
}

.owerlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    width: 100%;
    height: 100%;
    padding: 40px 32px 160px 32px;
    transition:transform var(--animation);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-bg-cl);
}


.owerlay-desk {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: calc(24/16);
    color: var(--light-txt-cl);
}

.list-portfolio:hover .owerlay {
    transform: translateY(0);
}








/*Modal window*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.4);
     transition: var(--animation);
  

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}


.modal {
    position: absolute;
      display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 392px;
   height: 586px;
    padding: 16px;
    padding-top: 72px;
    background-color: var(--light-txt-cl);

  
}

@media screen and (min-width: 1200px){
    .modal {
    width: 408px;
    height: 584px;
    padding: 24px;
     padding-top: 72px;

    }
}
@media screen and (max-width: 320px){
    .modal {
    width: 320px;
    height: 584px;
    padding: 16px;
     padding-top: 72px;

    }
}

.modal-btn {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--border-color);
     transition:color var(--animation), background-color var(--animation);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--hover-bg-cl);
    color: var(--light-txt-cl);
}

.close-icon {
    fill: currentColor;
 
}

.close-icon:hover,
.close-icon:focus{
    fill: currentColor ;
    
}

/*FORM*/


.register-form-title { 
    display: block;
    text-align: center;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
color:var(--main-txt-cl);
margin-bottom: 16px;
}
@media screen and (max-width: 320px){
.register-form-title { 
    display: block;
    text-align: center;
font-size: 12px;
line-height: calc(14/12);
color:var(--main-txt-cl);
margin-bottom: 16px;
}
}

.group-text{
font-size: 12px;
line-height: calc(14/12) ;
letter-spacing: 0.01em;
text-align: left;
color:var(--form-txt-cl);
padding-bottom: 4px;

}

.modal-group {
    position: relative;
    display: block;
     text-align: start;
    margin-bottom: 8px;

}

.modal-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    color: currentColor;
}




.input {
    position: relative;
    width: 100%;
    height: 40px;
    font: inherit;
    outline: transparent;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--animation);
}
   .input:focus{
            border: 1px solid var(--blue-bg-cl);
        }


.input:focus+.modal-icon {
    fill: var(--blue-bg-cl);
}

.label-group{
     position: relative;
    display: block;
     text-align: start;
     margin-bottom: 16px;
}


.label-textarea {
    display: block;
    margin-bottom: 20px;
}

.textarea-modal {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 15px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--animation);

}


   .textarea-modal:focus {
            border: 1px solid var(--blue-bg-cl);
        }





.btn-modal{
font-family:inherit;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;
color:var(--light-txt-cl);
border: none;
 cursor: pointer;
width: 169px;
min-height: 56px;
background-color: var(--blue-bg-cl);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}


.textarea-modal {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--animation);
}
.textarea-modal::placeholde {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--texteria-txt-cl);

}

.label-group-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}
.checkbox-text{
    font-size: 12px;
line-height: calc(16/12) ;
letter-spacing: 0.04em;
text-align: left;
color:var(--texteria-txt-cl);
}
@media screen and (max-width: 320px){
   .checkbox-text{
    font-size: 10px;
line-height: calc(12/10) ;
letter-spacing: 0.04em;
text-align: left;
color:var(--texteria-txt-cl);
} 
}

.group-text-checkbox {
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--grey-txt-cl);
}

.checkbox-group:focus+.checkbox-check-icon {
    fill: var(--accent-txt-cl);
}

.check-icon {
    opacity: 0;
    transition: opacity var(--animation);
}

.notcheck-icon {
    opacity: 1;
    transition: opacity var(--animation);
}

.checkbox-group:checked+.checkbox-check-icon .check-icon {
    opacity: 1;
}

.checkbox-group:checked+.checkbox-check-icon .notcheck-icon {
    opacity: 0;
}

.link-modal {
    color: var(--blue-bg-cl);
}



/* mobil menu */


.mobil-btn{
    display: flex;
    align-items: center;
    justify-content: center;



    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;

    background-color: transparent;
    border: none;

    cursor: pointer;
    
}
@media screen and (min-width: 768px){
    .mobil-btn{
         display: none;
    }
}

.menu-container{
    position: fixed;

    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;
    padding: 60px 40px;

    width: 100%;
    height: 100%;
     background-color: #fff;

     transform: translateX(100%);
     transition:transform var(--animation) ;

}
.menu-container.is-open{
    transform: translateX(0);
}

.mobil-btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
     justify-content: center;
    
     width: 40px;
    height: 40px;
     padding: 0;

    
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}
        
 .mobil-btn-close:hover,
 .mobil-btn-close:focus{
            color: var(--accent-txt-cl);
        }


.mobil__icon{
    fill: currentColor;
}

.mobil-menu{
    margin-bottom: auto;
}

.link__mobile{
    font-weight: 700;
font-size: 36px;
line-height: calc(40/36);
letter-spacing: 0.02em;
text-transform: capitalize;
        color: var(--main-txt-cl);
        margin-bottom: 32px;
}

.link-tell {
    font-weight: 600;
font-size: 36px;
line-height: calc(40/36) ;
text-transform: capitalize;
margin-bottom: 32px;
color: var(--blue-bg-cl);

        }
@media screen and (max-width: 320px){
.link-tell {
    font-weight: 600;
font-size: 24px;
line-height: calc(30/24) ;
text-transform: capitalize;
margin-bottom: 32px;
color: var(--blue-bg-cl);
}
}
   
.link-mail{
    font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;

        color: var(--grey-txt-cl);
}
.list-soc{
    margin-bottom: 48px;
}
.socials-mobil{
padding-bottom: 0;}


.socials-mobil {
    display: flex;
    padding-bottom: 0;
    justify-content: space-evenly;
    gap: 56px;
}
@media screen and (max-width: 320px){
 .socials-mobil {
    gap: 30px;
}
}